/* здесь используйте глобальные переменные */
//Шрифты
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

//Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$basic_grey: #f2f2f2;
$special-dark-grey: #444444;
$special-more-dark-grey: #222222;
$basic-green: #68b738;
