/* здесь используйте глобальные переменные */
//Шрифты
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

//Цвета
$primary-color: #ffffff;
$secondary-color: #000000;
$bg-primary: #f2f2f2;
$accent-color: #68b738;
$text-primary: #444444;
$text-secondary: #222222;
