/* здесь используйте глобальные переменные */
//Шрифты
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

//Цвета
$primary-color: #ffffff;
$secondary-color: #000000;
$bg-primary: #f2f2f2;
$bg-accent: rgba(104, 183, 56, 0.85);
$accent-color: #68b738;
$text-primary: #444444;
$text-secondary: #222222;
$icon-color-primary: #666666;

//Экраны
$tablet: 768px;
$desktop: 1440px;
