.advantage {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: auto;
    max-width: 249px;
    gap: 31px;
  }

  @media (min-width: $tablet) {
    grid-template-columns: auto;
    max-height: 280px;
    gap: 31px;
  }
}

.advantage::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
  }
}

.advantage--leaf::before {
  background-image: url("../../icons/icon-leaf.svg");
  background-size: 24.8px 28px;

  @media (min-width: $tablet) {
    background-size: 30px 32px;
  }
}

.advantage--preparation::before {
  background-image: url("../../icons/icon-preparation.svg");
  background-size: 26px 28.5px;

  @media (min-width: $tablet) {
    background-size: 25.95px 28.68px;
  }
}

.advantage--eat::before {
  background-image: url("../../icons/icon-eat.svg");
  background-size: 25px 30px;
}

.advantage--clock::before {
  background-image: url("../../icons/icon-clock.svg");
  background-size: 26.09px 31px;

  @media (min-width: $tablet) {
    background-size: 25.97px 31.19px;
  }
}

.advantage__description {
  @include font($primary-font, 14px, 18px, $text-primary);
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;

  @media (min-width: $tablet) {
    @include font($primary-font, 16px, 24px, $text-primary);
  }
}
