.advantages__wrapper {
  @include block-margins--mobile();
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 47px;

    @include block-margins--tablet();
  }

  @media (min-width: $desktop) {
    @include block-margins--desktop();
    padding-top: 71px;
    padding-bottom: 69px;
  }
}

.advantages__title {
  @include font($secondary-font, 36px, 40px, $secondary-color);
  margin: 0;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
