.button {
  @include font($secondary-font, 16px, 20px, $secondary-color);
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.button--primary {
  color: $primary-color;
  background-color: $accent-color;
}

.button--secondary {
  color: $text-primary;
  background-color: $bg-primary;
}
