.catalog {
  @media (min-width: $tablet) {
    @include block-margins--tablet();
    margin-bottom: 74px;
  }

  @media (min-width: $desktop) {
    @include block-margins--desktop();
    margin-bottom: 71px;
  }
}

.catalog__title {
  @include font($secondary-font, 36px, 36px, $secondary-color);
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}
