.copyright__link {
  @include font($primary-font, 16px, 20px, $text-primary);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link::after {
  content: "";
  width: 27px;
  height: 34px;
  display: block;
  mask-image: url("../../icons/html-academy-icon.svg");
  background-color: $icon-color-primary;
}

.copyright__link:hover::after,
.copyright__link:focus::after {
  background-color: $accent-color;
}

.copyright__link:active::after {
  color: $accent-color;
  opacity: 0.3;
}
