.example {
  background-color: #eaeaea;
}

.example__wrapper {
  @include block-margins--mobile();
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 101px;

    @include block-margins--tablet();
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;

    @include block-margins--desktop();
    padding: 0;
  }
}

.example__title {
  @include font($secondary-font, 36px, 40px, $secondary-color);
  margin: 0;
}

.example__features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.example__features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.example__features-item {
  display: flex;
  flex-direction: column-reverse;
}

.example__features-item-title {
  @include font($primary-font, 12px, 100%, $text-primary);
}

.example__features-item-content {
  @include font($secondary-font, 24px, 24px, $secondary-color);
  text-transform: uppercase;
}

.example__features-costs {
  @include font($secondary-font, 14px, 20px, $secondary-color);
  text-transform: uppercase;
}
