.features-catalog {
  @include block-margins--mobile();
  padding-top: 20px;

  @media (min-width: $tablet) {
    padding-top: 0;

    @include block-margins--tablet();
  }

  @media (min-width: $desktop) {
    @include block-margins--desktop();
    padding-top: 82px;
  }
}

.features-catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}
