.geoposition__banner-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.geoposition__banner-address {
  font-weight: 400;
  line-height: 20px;
}
