.header {
  background-color: $primary-color;
  color: $text-primary;
  z-index: 5;
}

.main-header {
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 65px auto;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  z-index: 5;

  @media (min-width: $tablet) {
    display: flex;
    padding: 0 30px;
    min-height: 50px;
    margin-top: 25px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
    min-height: 59px;
    margin-top: 55px;
    margin-bottom: 29px;
  }
}

.main-header__logo {
  padding: 0;
  margin-left: 20px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.main-header__nav-toggle {
  margin-right: 20px;
  width: 24px;
  height: 24px;
  background-color: $secondary-color;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-header__nav-toggle--not-js {
  background-color: transparent;
  border: none;
}

.main-header__nav-toggle--open {
  mask-image: url("../../icons/close.svg");
}

.main-header__nav-toggle--close {
  mask-image: url("../../icons/header-menu-mobile.svg");
}

.main-header__nav-wrapper {
  background-color: $primary-color;
  display: none;

  @media (min-width: $tablet) {
    background-color: transparent;
  }
}

.main-header__nav-wrapper--not-js {
  display: inline;
  grid-row: 2;
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    grid-row: 1;
  }
}

.main-header__nav-wrapper--open {
  display: inline;
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;
  z-index: 2;

  @media (min-width: $tablet) {
    display: inline;
    position: static;
    width: fit-content;
    min-width: 436px;
  }
}

.main-header__nav-wrapper--close {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
    position: static;
    width: fit-content;
    min-width: 436px;
  }
}
