.main-nav__link {
  @include font($secondary-font, 20px, 20px, $secondary-color);
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  background-color: $secondary-color;
  mask-image: url("../../icons/header-menu-mobile.svg");
}
