.program__wrapper {
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-accent;
  color: $primary-color;
  font-family: $secondary-font;

  @include block-margins--mobile();

  @media (min-width: $tablet) {
    @include block-margins--tablet();
    background-color: $primary-color;
    color: $secondary-color;
  }

  @media (min-width: $desktop) {
    @include block-margins--desktop();
    flex-direction: row;
    justify-content: center;
  }
}

.program__slogan {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.program__action {
  position: absolute;
  bottom: 0;

  @media (min-width: $tablet) {
    bottom: 526px;
  }

  @media (min-width: $desktop) {
    position: static;
  }
}
