.program__wrapper {
  background-color: $bg-accent;
  color: $primary-color;
  font-family: $secondary-font;
}

.program__slogan {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
